extends layout

block content
  h1= "Example" 
  div
    form(id='portalSelect')
      input(type='text', id='portal', value='Severe Cartoon Damage', size='60')
      input(type='submit')
  div
    canvas#chart(width='600', height='400')
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
  script(src="javascripts/Chart.min.js")
  script(src="javascripts/example.js")
